{
  "root": true,
  "extends": ["next/core-web-vitals", "prettier"],
  "rules": {
    // Keep Prettier as warnings to not block builds
    "prettier/prettier": ["warn", { "endOfLine": "auto" }]
  }
}
